<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>People</title>
    <link rel="stylesheet" type="text/css" href="../semantic/semantic.min.css">
  </head>
  <body>

    <div class="ui large menu">
      <div class="header item"><a href="../index.html">Home</a></div>
      <a class="item" href="#">People</a>
      <a class="item" href="./places.html">Places</a>
      <a class="item" href="./food.html">Food</a>
    </div>

    <div class="ui grid container">
      <div class="two wide column"></div>
      <div class="six wide column">
        <div class="ui fluid card">
          <div class="image">
            <img src="../images/card-img.png">
          </div>
          <div class="content">
            <a class="header">Test Female</a>
            <div class="meta">
              <span class="date">September 1st 2016</span>
            </div>
            <div class="description">
              This Female Works in the City as an Assistant
            </div>
          </div><!-- End Content-->
          <div class="extra content">
            <span class="left floated">
              <i class="user icon"></i>
              69 Friends
            </span>
            <span class="right floated like">
              <i class="like icon"></i>
              7 Likes
            </span>
          </div><!-- End Extra Content-->
        </div><!-- End Card -->
      </div>
      <div class="six wide column">
        <div class="ui fluid card">
          <div class="image">
            <img src="../images/guy.png">
          </div>
          <div class="content">
            <a class="header">Test Male</a>
            <div class="meta">
              <span class="date">September 1st 2016</span>
            </div>
            <div class="description">
              This Guy works as a trader at a top Investment Bank
            </div>
          </div><!-- End Content-->
          <div class="extra content">
            <span class="left floated">
              <i class="user icon"></i>
              40 Friends
            </span>
            <span class="right floated like">
              <i class="like icon"></i>
              3 Likes
            </span>
          </div><!-- End Extra Content-->
        </div><!-- End Card -->
      </div>
      <div class="two wide column"></div>
    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="../js/people.js"></script>
  </body>
</html>
