<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Places</title>
    <link rel="stylesheet" type="text/css" href="../css/places.css">
    <link rel="stylesheet" type="text/css" href="../semantic/semantic.min.css">
  </head>
  <body>

    <div class="ui large menu">
      <div class="header item"><a href="../index.html">Home</a></div>
      <a class="item" href="./people.html">People</a>
      <a class="item" href="#">Places</a>
      <a class="item" href="./food.html">Food</a>
    </div>

    <div class="ui grid container">
      <div class="row">
        <h1 class="ui header" id="header">Find Places!</h1>
      </div><!-- End Row-->
      <div class="row">
        <div class="four wide column"></div>
        <div class="eight wide column">
          <div class="ui form">
            <div class="field">
              <input type="text" placeholder="Search For Places!" id="search">
            </div>
          </div>
        </div><!-- End Input Div-->
        <div class="four wide columns"></div>
      </div><!-- End Row-->
      <div class="row">

      </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="../js/places.js"></script>
    <script src="../semantic/semantic.min.js"></script>
  </body>
</html>
